# Set up gym and baselines
numpy
matplotlib
pandas
setuptools>=49.1.0
pyqt5>=5.9.2
tensorflow==1.14
pytest
cloudpickle~=1.2.0
gym[atari]
sklearn
-e git+https://github.com/openai/baselines#egg=baselines
# Set up stable baselines
stable-baselines[tests,docs]>=2.10.0
box2d-py==2.3.5
pybullet
gym-minigrid
scikit-optimize
optuna
pytablewriter
seaborn
pyyaml>=5.1
